{% extends 'base.html' %}
{% block bodyid %}archive{% endblock %}
{% block head_title %}Archive - {% endblock %}
{% block breadcrumb %} &rarr; Archive{% endblock %}
{% block content %}

    <h1 class="first">Previously, on {{user|capfirst}}&rsquo; Day Z Log</h1>
    {% if latest %} {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
    {% for post in latest %}  
        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifchanged #}
        {% ifchanged %}
            <h2>{{ post.created|date:"F Y" }}</h2>
        {% endifchanged %}

                <p>
                    <a href="{% url posts_detail post.id %}" rel="bookmark">{{ post.title }}</a> 
                    {% if post.kind == "A" %}<strong class="small quiet">Original Article</strong> {% else %}{% endif %} {# / if.post.kind == "A" #}
                    <span class="small quiet">
                            {{ post.created|date:"d F Y" }}
                    </span>
                </p> 
            {# {% if user.is_authenticated %}  #}
            {# <span class="small normal quiet">- Last edited {{post.modified|timesince}} ago by {{ user.first_name }} {{ user.last_name }}</span> #}
            {#     <span class="small normal"> <a class="edit" href="{% url posts_update post.id %}">edit</a> <a class="warning" href="{% url posts_delete post.id %}">delete</a></span> #}
            {# {% endif %} #}
        
    {% endfor %}

    {% else %}
        You don't have any posts.
    {% endif %}
    
{% endblock %}

{% block sidebar %}
    {# http://www.djangrrl.com/post/custom-template-tags-in-django/ #}
{% if user.is_authenticated %} 
    {% load tags %}
    {% latestpost %}
{% endif %}
{% endblock %}