{% extends 'base.html' %}
{% block head_title %}Add New Post - {% endblock %}

{% block breadcrumb %} &rarr; Add New Post{% endblock %}

{# Customized form template: https://docs.djangoproject.com/en/dev/topics/forms/#customizing-the-form-template #}
<form action="" method="post">
{% csrf_token %}

{# overring nav block in base.html #}
{% block nav %}
{% if user.is_authenticated %}
<p><input class="btn" type="submit" value="Add Post" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url posts_detail post.id %}">cancel</a> {# · {{ user.first_name }} {{ user.last_name }} #} · <a href="{% url django.contrib.auth.views.logout %}?next={% firstof request.path '/' %}">Log out</a></p>
{% else %}
{# http://stackoverflow.com/a/1711592/412329 #}
{# Alternative redirect technique?: http://stackoverflow.com/a/476720/412329 #}
<p><a class="edit" href="{% url django.contrib.auth.views.login %}?next={% firstof request.path '/' %}">Log in</a></p>
{% endif %}
{% endblock %}

{% block content %}

{# Reusable form templates: https://docs.djangoproject.com/en/dev/topics/forms/#reusable-form-templates #}
{% include "includes/post_form.html" %}

{# <form action="" method="post"> #}
{#     {% csrf_token %} #}
{#     {{ form.as_p }}     #}
{#     <p><input type="submit" value="Continue &rarr;" /></p> #}
{# </form> #}

<p class="clearboth"><input class="btn" type="submit" value="Add Post" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url posts_detail post.id %}">cancel</a></p>
</form>



{% endblock %}

