{% extends 'site_base.html' %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}Archive - Notes - {% endblock %}

{% block breadcrumb %}<li><a href="/notes/">Notes</a> <span class="divider">/</span></li><li class="active">Archive of Notes</li>{% endblock %}

{% block body %}

    <h1 class="first">Notes Archive</h1>
    {% if latest %} {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
    {% for note in latest %}  
        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifchanged #}
        {% ifchanged %}
            <h2>{{ note.created|date:"F Y" }}</h2>
        {% endifchanged %}

                <p>
                    <a href="{% url notes_detail note.id %}" rel="bookmark">{{ note.title }}</a> 
                    {% if note.kind == "A" %}<strong class="small quiet">Original Article</strong> {% else %}{% endif %} {# / if.note.kind == "A" #}
                    <span class="small quiet">
                            {{ note.created|date:"d F Y" }}
                    </span>
                </p> 
            {# {% if user.is_authenticated %}  #}
            {# <span class="small normal quiet">- Last edited {{note.modified|timesince}} ago by {{ user.first_name }} {{ user.last_name }}</span> #}
            {#     <span class="small normal"> <a class="edit" href="{% url notes_edit note.id %}">edit</a> <a class="warning" href="{% url notes_delete note.id %}">delete</a></span> #}
            {# {% endif %} #}
        
    {% endfor %}

    {% else %}
        You don't have any notes.
    {% endif %}
    
{% endblock %}

{% block sidebar %}
    {# http://www.djangrrl.com/post/custom-template-tags-in-django/ #}
{% if user.is_authenticated %} 
    {% load tags %}
    {% latestnote %}
{% endif %}
{% endblock %}