{% extends 'notes/notes_base.html' %}
{% block head_title %}Editing &lsquo;{{ note.title }}&rsquo; - {% endblock %}

{% block breadcrumb %}<li><a href="/notes/">Notes</a> <span class="divider">/</span></li><li class="active">Editing &lsquo;{{ note.title }}&rsquo;</li>{% endblock %}

{% block body %}

    {# <form action="" method="post"> #}
    {#     {% csrf_token %} #}
    {#     {{ form.as_p }}     #}
    {#     <p><input type="submit" value="Continue &rarr;" /></p> #}
    {# </form> #}
    
    {# Customized form template: https://docs.djangoproject.com/en/dev/topics/forms/#customizing-the-form-template #}
    {# Reusable form templates: https://docs.djangoproject.com/en/dev/topics/forms/#reusable-form-templates #}
    <form action="" method="post">
            {% csrf_token %}
            <p><input class="btn" type="submit" value="Save &rarr;" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>
                {% include "includes/note_form.html" %}
            <p class="clearboth"><input class="btn" type="submit" value="Save &rarr;" tabindex="4" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>
            <p class="floatright"><a class="warning" href="{% url notes_delete note.id %}">delete this note</a></p>
        </form>
{% endblock %}

{% block footer %}
    Last modified: {{ note.modified|date:"d F Y" }} at {{ note.modified|date:"H:m A" }}
{% endblock %}