/* custom styles by @hypertexthero */

h1 {text-align:left !important; color:#000 !important;}
.quiet {color:#ccc;}
.normal {font-weight:normal;}
.tip {background:#ffc;}
.breadcrumb {color:#999;}
.center {text-align:center;}
.help-block {font-size:0.9em; color:#999; margin-bottom:1.5em;}
.error {color:#c00;}
.small {font-size:0.9em;}
.customform textarea, .customform div.input input {width:100% !important;}
div.post {margin-bottom:2em;}
.post-title a {color:#000; text-decoration:none;}
/*.height8 {height:22em;}*/
/*#markdownhelp {width:100%; padding:0 auto;}*/