/* custom styles by @hypertexthero */

h1 {text-align:left !important; color:#000 !important;}
.quiet {color:#ccc;}
.normal {font-weight:normal;}
.tip {background:#ffc;}
.breadcrumb {color:#999;}
.center {text-align:center;}
.help-block {font-size:0.9em; color:#999; margin-bottom:1.5em;}
.error {color:#c00;}
/*#markdownhelp {width:100%; padding:0 auto;}*/