{# http://www.djangrrl.com/post/custom-template-tags-in-django/ #}
<div id="lastupdate">
    <h4 class="quiet">Last Updated Note:</h4>
    {% for note in notes %}
        {% if user.is_authenticated %}<p class="floatright"><a class="edit" href="{% url notes_update note.id %}">edit</a> <a class="warning" href="{% url notes_delete note.id %}">delete</a></span></p>{% endif %}
    {% endfor %}
    
    <div id="lastupdatenote">
    {% for note in notes %}
        <h1 class="first"><a href="/notes/archive/{{ note.id }}">{{ note.title }}</a> <span class="normal small"></h1>
        {{ note.content_html|safe }}
    {% endfor %}
    </div>
</div>