<div class="modal hide" id="markdownhelp">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Markdown Cheat Sheet</h3>
  </div>

  <div class="modal-body">

      {# <div class="row-fluid"> #}
        {# <div class="span12"> #}
          {# Level 1 of column #}
          {# <div class="row-fluid"> #}
            {# <div class="span6">Level 2</div> #}
            {# <div class="span6">Level 2</div> #}
          {# </div> #}
        {# </div> #}
      {# </div> #}


    
      
      
            <h3>Format Text</h3>
            <p>Headers</p>
            <pre>
      # This is an &lt;h1&gt; tag
      ## This is an &lt;h2&gt; tag
      ###### This is an &lt;h6&gt; tag</pre>
           <p>Text styles</p>
           <pre>
      *This text will be italic*
      _This will also be italic_
      **This text will be bold**
      __This will also be bold__

      *You **can** combine them*
      </pre>
      
      
            <h3>Lists</h3>
            <p>Unordered</p>
            <pre>
      * Item 1
      * Item 2
        * Item 2a
        * Item 2b</pre>
           <p>Ordered</p>
           <pre>
      1. Item 1
      2. Item 2
      3. Item 3
         * Item 3a
         * Item 3b</pre>
      
            <h3>Miscellaneous</h3>
       
           <p>Links</p>
           <pre>
               
      &lt;http://dayzlog.com&gt;

      or

      [Linked word](http://dayzlog.com "Link tooltip title")
      [DayZLog](http://dayzlog.com)
      
        or

      [Linked word][1]
      [1]: http://dayzlog.com "Link tooltip title"

        or

      [Linked word][dayzlog]
      [dayzlog]: http://dayzlog.com "Link tooltip title"
          </pre>

<p>Images</p>
            <pre>
      ![My photo description](http://i.imgur.com/rYdOJ.jpg)
      Format: ![Alt Text](url)
      </pre>
          

<p>Footnotes</p>
            <pre>
      I saw[^1] it.
      [^1]: Through the scope.
      </pre>

      <p>Blockquotes</p>
           <pre>
      As a bad guy in No One Lives Forever said:

      > Everybody down,
      > hard rain is falling!
      </pre>
      
        <div class="rule"></div>

        {# <h3>Code Examples in Markdown</h3> #}
      
            {# <p>Syntax highlighting with <a href="http://github.github.com/github-flavored-markdown/" title="GitHub Flavored Markdown" target="_blank">GFM</a></p> #}
            {# <pre> #}
      {# ```javascript #}
      {# function fancyAlert(arg) { #}
        {# if(arg) { #}
          {# $.facebox({div:'#foo'}) #}
        {# } #}
      {# } #}
      {# ```</pre> #}
      
            <p>Indent your code 4 spaces</p>
            <pre>
      Here is a Python code example:

          def foo:
            if not bar:
              return true</pre>
      
            <p>Inline code for comments</p>
            <pre>
      I think you should use an
      `&lt;strong&gt;` element here instead.</pre>
      
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    {# <a href="#" class="btn btn-primary">Save changes</a> #}
  </div>

</div>