{# Called as include in templates/notes/create.html and templates/notes/edit.html #}
{# Reusable form templates: https://docs.djangoproject.com/en/dev/topics/forms/#reusable-form-templates #}

{# {% block extrahead %} #}
{# <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script> #}
{# <script type="text/javascript" src="/static/js/zebra_datepicker.js"></script> #}
{# <link rel="stylesheet" href="/static/css/zebra_datepicker.css" type="text/css" media="all" /> #}
{# <script type="text/javascript" charset="utf-8"> #}
{# $(document).ready(function() { #}
{#  #}
{#     // $('#datepicker-example1').Zebra_DatePicker(); #}
{#     //  #}
{#     // $('#datepicker-example2').Zebra_DatePicker({ #}
{#     //     direction: 1    // boolean true would've made the date picker future only #}
{#     //                     // but starting from today, rather than tomorrow #}
{#     // }); #}
{#     //  #}
{#     // $('#datepicker-example3').Zebra_DatePicker({ #}
{#     //     direction: true, #}
{#     //     disabled_dates: ['* * * 0,6']   // all days, all monts, all years as long #}
{#     //                                     // as the weekday is 0 or 6 (Sunday or Saturday) #}
{#     // }); #}
{#     //  #}
{#     // $('#datepicker-example4').Zebra_DatePicker({ #}
{#     //     direction: [1, 10] #}
{#     // }); #}
{#  #}
{#     $('#id_created').Zebra_DatePicker({ #}
{#         format: 'Y-d-m' #}
{#     }); #}
{#  #}
{#     // $('#datepicker-example6').Zebra_DatePicker({ #}
{#     //     show_week_number: 'Wk' #}
{#     // }); #}
{#     //  #}
{#     // $('#datepicker-example7').Zebra_DatePicker({ #}
{#     //     view: 'years' #}
{#     // }); #}
{#  #}
{# }); #}
{# </script> #}
{# {% endblock %} #}

{% block extrahead %}
    {# WMD Markdown Editor with Preview - required files #}
      
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/wmd.css"/>
    <script type="text/javascript" src="/static/js/wmd.js"></script>
    <script type="text/javascript" src="/static/js/showdown.js"></script>
    
{% endblock %}


<div class="noteswritebox">
    {{ form.non_field_errors }}
    <fieldset>
        {{ form.title.errors }}
        <label for="id_title">Title:</label><br />
        {# {{ form.title }} #}
        <input id="id_title" type="text" name="title" value="{{ form.title.value|default:'' }}" maxlength="255" tabindex="1" placeholder="Title…" />

            <br />
          <label for="id_status">Status:</label>
              <br />
                          
              {# <select name="kind" id="id_kind" class="floatleft" style="width:15%; margin-right:1em;"> #}
              {#     <option value="L">Link</option> #}
              {#     <option value="A">Article</option> #}
              {# </select>  #}
              
              {# need to do this to get the set value for a select field #}
              {{ form.status }}
              
                  <span id="linkurl" class="floatleft" style="width:83%;">
                      {# <label for="id_url">Url:</label>  #}
                          <input id="id_url" type="text" name="url" value="{{ form.url.value|default:'' }}" maxlength="200" tabindex="2" placeholder="http://" /> {# value="{{ form.url.value }}"  #}
                          {# <span class="helptext">The link URL</span> #}
                  </span>
    </fieldset>



{# <fieldset> #}
{#  #}
{#     <p><label for="id_kind">Kind:</label> <select name="kind" id="id_kind"> #}
{#     <option value="L">Link</option> #}
{#     <option value="A">Article</option> #}
{#     </select> <span class="helptext">Is this a link to other content or an original article?</span></p> #}
{#     <p><label for="id_url">Url:</label> <input id="id_url" type="text" name="url" maxlength="200" /> <span class="helptext">The link URL</span></p> #}
{#      #}
{# </fieldset> #}


    <fieldset>
        {{ form.content_markdown.errors }}
        <label for="id_content_markdown">Note: <span class="smaller">(markdown syntax)</span></label>
        <div id="button_bar"></div>        
        {# {{ form.content_markdown }} #}
        {# Keeping presentation in template rather than in modelform widgets: #}
            {# - https://docs.djangoproject.com/en/dev/topics/forms/#looping-over-the-form-s-fields #}
            {# - http://stackoverflow.com/a/2152407/412329 #}
        <textarea placeholder="Note…" id="id_content_markdown" rows="30" cols="80" name="content_markdown" tabindex="3">{{ form.content_markdown.value|default:'' }}</textarea> 
    </fieldset>

    <fieldset style="margin-bottom:0.8em;" class="quiet">
        {{ form.created.errors }}
        <label for="id_created">Published on </label>
        {{ form.created }}
    </fieldset>

</div> {# /.noteswritebox #}


<div class="notespreviewbox">
    <h1 class="first">{{ note.title }}</h1>
    <h5>Note Preview</h5>
    <div id="content_rendered_preview"></div>
    {# <h5>Generated raw HTML <span class="normal">(save to content_html table in database)</span></h5> #}
    {# <textarea name="content_html" value="" id="content_html_preview" columns="80" rows="40"></textarea> #}
    {# <input type="hidden" name="notes-html" value="" id="notes-html" /> #}
</div> <!-- /div.notespreviewbox -->
    
{% block extrafoot %}
{# WMD Markdown Editor with Preview - initialization #}
<script type="text/javascript">
setup_wmd({
	input: "id_content_markdown",
	button_bar: "button_bar",
	preview: "content_rendered_preview",
	output: "content_html",
    // buttons: "bold italic link image ol ul  heading  undo redo  help",
    buttons: "bold italic link image ol ul heading  undo redo  help",
	modifierKeys: false,
	autoFormatting: false
});
</script>    
{% endblock %}