{# https://github.com/samwillis/pagedown-bootstrap #}
{# http://stackoverflow.com/a/5930179 #}


{{ post_form.non_field_errors }}

<label for="id_title">{{ post_form.title.label }}</label>
<div class="input{% if post_form.title.errors %} alert alert-error{% endif %}">
    {{ post_form.title }}
    {% if post_form.title.errors %}
	    {% for error in post_form.title.errors %}
	        {{ error|escape }}
	    {% endfor %}
	{% endif %}
</div>
<br>

{% comment %}
<label for="id_slug">{{ post_form.slug.label }}</label>
<div class="input{% if post_form.slug.errors %} alert alert-error{% endif %}">
    {{ post_form.slug }}
    {% if post_form.slug.errors %}
	    {% for error in post_form.slug.errors %}
	        {{ error|escape }}
	    {% endfor %}
	{% endif %}
</div>
<br>
{% endcomment %}


<div class="wmd-panel">
    <label for="id_content_markdown">{{ post_form.content_markdown.label }} <span class="quiet small"><a data-toggle='modal' href='#markdownhelp'>markdown syntax</a> · <a href="#" class="toggles">see a preview{# <i class="icon-chevron-left"></i> #}</a></span></label>
    <div id="wmd-button-bar"></div>

	{% if post_form.content_markdown.errors %}<div class="alert alert-error">{% endif %}

	    {{ post_form.content_markdown }}

	{% if post_form.content_markdown.errors %}
		{% for error in post_form.content_markdown.errors %}
		    {{ error|escape }}
		{% endfor %}
		</div>
	{% endif %}
	
</div>

{# <label for="wmd-preview"></label> #}
<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
<br>

<label for="id_status">{{ post_form.status.label }}</label>
    {{ post_form.status }}
    {% if post_form.status.errors %}
	    <div class="alert alert-error">
	    {% for error in post_form.status.errors %}
	        {{ error|escape }}
	    {% endfor %}
	    </div>
	{% endif %}
<br>
<br>

<label for="id_allow_comments">{{ post_form.allow_comments }} {{ post_form.allow_comments.label }}</label>
    {% if post_form.allow_comments.errors %}
	    <div class="alert alert-error">
	    {% for error in post_form.allow_comments.errors %}
	        {{ error|escape }}
	    {% endfor %}
	    </div>
	{% endif %}