{% extends "blog/base_my.html" %}

{% load i18n %}

{% block head_title %}{% trans "Write a Blog Post" %}{% endblock %}

{% block external_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}redactor/css/editor.css" type="text/css" />
{% endblock %}

{% block external_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}redactor/editor.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/blog.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block add_tab_class %} ui-tabs-selected ui-state-active{% endblock %}

{% block content %}

{% load bootstrap_tags %}
<form class="customform" id="add_post" method="POST" action="{% url blog_add %}">
    {% csrf_token %}
  <fieldset>
    <legend>New Log Entry</legend>  
        {{ post_form|as_bootstrap }}
        <br>
        <button type="submit" class="btn btn-primary btn-large">Submit</button>
  </fieldset>
</form>


{% endblock %}
