{% extends "blog/base_my.html" %}

{% load i18n %}

{% block head_title %}{% trans "Write an Entry" %}{% endblock %}

{% block js %}
    {{ block.super }}
    
        {# WMD Markdown Editor with Preview - required files #}

        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/wmd.css"/>
        <script type="text/javascript" src="/static/js/wmd.js"></script>
        <script type="text/javascript" src="/static/js/showdown.js"></script>

    <script type="text/javascript" charset="utf-8">
            // Disable link url field if note kind is Article
            // http://stackoverflow.com/a/4597170/412329
            // http://jsfiddle.net/gnarf/GpmSs/2/        
            // TODO?: alternative - http://stackoverflow.com/a/2171606/412329        

            $(document).ready(function(){            

                var $kind = $('#id_kind'),
                    $url = $('#id_url');

                $kind.change(function() {
                    if ($kind.val() == 'L') {
                        $url.removeAttr('disabled').show();
                    } else {
                        $url.attr('disabled', 'disabled').val('').hide();
                    }
                }).trigger('change'); // added trigger to calculate initial state
                // 
                // $("input[type=text]").click(function() { // automatically select text on click - http://stackoverflow.com/a/3150370/412329
                //    $(this).select();
                // });
            });
    </script>
    
{% endblock %}

{% block content %}

{% load bootstrap_tags %}
<form class="customform" id="add_post" method="POST" action="{% url blog_add %}">
    {% csrf_token %}
  <fieldset>
    <legend>New Log Entry</legend>  
        {{ post_form|as_bootstrap }}
        {% include "post_form.html" %}
        <br>
        <button type="submit" class="btn btn-primary btn-large">Submit</button> or <a href="javascript:history.go(-1)">Cancel</a>
  </fieldset>
</form>


{% endblock %}

<div class="noteswritebox">
    {{ form.non_field_errors }}
    <fieldset>
        {{ form.title.errors }}
        <label for="id_title">Title:</label><br />
        {# {{ form.title }} #}
        <input id="id_title" type="text" name="title" value="{{ form.title.value|default:'' }}" maxlength="255" tabindex="1" placeholder="Title…" />
              
    </fieldset>

    <fieldset>
        {{ form.content_markdown.errors }}
        <label for="id_content_markdown">Entry Body: <span class="smaller">(markdown syntax)</span></label>
        <div id="button_bar"></div>        
        {# {{ form.content_markdown }} #}
        {# Keeping presentation in template rather than in modelform widgets: #}
            {# - https://docs.djangoproject.com/en/dev/topics/forms/#looping-over-the-form-s-fields #}
            {# - http://stackoverflow.com/a/2152407/412329 #}
        <textarea placeholder="Note…" id="id_content_markdown" rows="30" cols="80" name="content_markdown" tabindex="3">{{ form.content_markdown.value|default:'' }}</textarea> 
    </fieldset>

    <fieldset style="margin-bottom:0.8em;" class="quiet">
        {{ form.created.errors }}
        <label for="id_created">Published on </label>
        {{ form.created }}
    </fieldset>

    {#  <div class="clearfix"> #}
    {#  #}
    {#                 <label for="id_status" class="requiredField"> #}
    {#                     Status #}
    {#                 </label> #}
    {#                 <div class="input"> #}
    {#                     <select name="status" id="id_status"> #}
    {# <option value="1">Draft</option> #}
    {# <option value="2" selected="selected">Public</option> #}
    {# </select> #}
    {#  #}
    {#  #}
    {#                 </div> #}
    {#  #}
    {#         </div> #}


</div> {# /.noteswritebox #}


<div class="notespreviewbox">
    <h1 class="first">{{ post.title }}</h1>
    <h5>Entry Preview</h5>
    <div id="content_rendered_preview"></div>
    {# <h5>Generated raw HTML <span class="normal">(save to content_html table in database)</span></h5> #}
    {# <textarea name="content_html" value="" id="content_html_preview" columns="80" rows="40"></textarea> #}
    {# <input type="hidden" name="notes-html" value="" id="notes-html" /> #}
</div> <!-- /div.notespreviewbox -->
    
{% block extra_script %}
{# WMD Markdown Editor with Preview - initialization #}
<script type="text/javascript">
setup_wmd({
	input: "id_content_markdown",
	button_bar: "button_bar",
	preview: "content_rendered_preview",
	output: "content_html",
    // buttons: "bold italic link image ol ul  heading  undo redo  help",
    buttons: "bold italic link image ol ul heading  undo redo  help",
	modifierKeys: false,
	autoFormatting: false
});
</script>    
{% endblock %}