{% extends "blog/base.html" %}
{# {% extends "search/all.html" %} #}
{% load i18n %}

{% block head_title %}Latest Entries - Day Z Logs{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {# <link href="{{ MEDIA_URL }}css/blog.css" rel="stylesheet" type="text/css">     #}

    {# =todo: feed format is breaking jquery and drop-down menus - =fixme #}
    <link rel="alternate" type="application/atom+xml" title="{% trans "All posts" %}" href="/feeds/posts/all/" />
{% endblock %}

{% block body %}
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Latest</h1>
  <p class="lead">Day Z Log entries by all users</p>
  {# <div class="subnav"> #}
  {#   <ul class="nav nav-pills"> #}
  {#     <li><a href="#typography">Typography</a></li> #}
  {#     <li><a href="#code">Code</a></li> #}
  {#     <li><a href="#tables">Tables</a></li> #}
  {#     <li><a href="#forms">Forms</a></li> #}
  {#     <li><a href="#buttons">Buttons</a></li> #}
  {#     <li><a href="#icons">Icons by Glyphicons</a></li> #}
  {#   </ul> #}
  {# </div> #}
</header>
<p class="breadcrumb">
    <a href="/">Home</a> / Logs
</p>




    
{% if post_list %}
    <div class="row">
        {% for post in post_list %}
        {# {% include "blog/post_iterator.html" %} #}
        <div class="span4">
            <h2 class="post-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p><strong>By <a href="/logs/{{ post.author.username }}/">{{post.author.username|capfirst}}</a></strong> <span class="small quiet">(<a class="quiet" href="/profiles/{{ post.author.username }}" title="See {{ post.author.username|capfirst }}&rsquo;s profile.">see profile</a>)</span> <a href="{{ post.get_absolute_url }}" class="post_link" title="Permanent link to this entry.">{{ post.updated_at|date:"D, d M Y, H:i" }}</a></p>
            <p>{{ post.content_html|safe|truncatewords_html:"30" }} <a href="{{ post.get_absolute_url }}">Continue Reading &raquo;</a></p>
        </div>
        {% empty %}
        <div class="entry">
            <p>Sorry, no posts found.</p>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
