{% extends "blog/blog_base.html" %}

{# {% block head_title %}{{ post.author.username }}'s Day Z Log{% endblock %} #}

{% block head_title %}
    {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user.username }}{% endif %}'s Day Z Log
{% endblock %}

{# {% block extra_head %} #}
    {# {{ block.super }} #}
    {# =todo: feed format is breaking jquery and drop-down menus - =fixme #}
    {# <link rel="alternate" type="application/atom+xml" title="Log post feed for user {{ name }}" href="/feeds/posts/only/?username={{ current_user.username }}" /> #}
{# {% endblock %} #}

{% block body_id %}log{% endblock %}

{% block body %}

{% load pagination_tags %}
{% autopaginate post_list 10 %}                    

<header class="pull-right" style="max-width:30%;">

    {% if author.get_profile.player_img %}
    {% load thumbnail %}
    <p><a href="/profiles/{{author.username}}"><img src="{% thumbnail author.get_profile.player_img 260x180 crop %}" /></a></p>{% endif %}

    <h1>
        {% if author.get_profile.name %}{{ author.get_profile.name }}{% else %}{{author.username}}{% endif %}&rsquo;s <br><span class="normal">Day Z Log</span>
    </h1>
    <p>
    {% if author.get_profile.date_joined %}<b>Member since:</b> {{author.get_profile.date_joined|date:"j F Y"}}{% endif %}    
        <br>
        <a href="/profiles/{{author.username}}" title="See profile.">Player Profile</a>
    </p>
      


    {# http://django-relationships.readthedocs.org/en/latest/getting_started.html #}
    {% load relationship_tags %}         
    {% if user.is_authenticated %}
    {% ifequal request.user author.get_profile.user %}

        {% else %}

        {# decide whether or not the current user is following this user #}
        {% if_relationship request.user author.get_profile.user "following" %}
            {# they are following them, so show a "remove" url #}
            <a class="btn btn-smaller" href="{{ author.get_profile.user|remove_relationship_url:"following" }}">Unfollow</a>
        {% else %}
            {# they are not following them, so show a link to start following #}
            <a class="btn btn-smaller" href="{{ author.get_profile.user|add_relationship_url:"following" }}">Follow</a>
        {% endif_relationship %}

    {% endifequal %}
    {% endif %}

</header>


    {% if post_list %}
        <div class="row">
            <div class="span8">
            {% for post in post_list %}
            
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}" title="Permanent link to this entry.">{{ post.title }}</h2>
                    <p><a href="{{ post.get_absolute_url }}" title="Permanent link to this entry.">{{ post.updated_at|date:"D, d M Y, H:i" }}</a> · <a href="{{ post.get_absolute_url }}{% if post.allow_comments %}#disqus_thread{% endif %}"></a></p>

                    {# {{ post.content_html|safe|truncatewords_html:"30" }} #}
                    {{ post.content_html|safe }}

                </div>

            {% endfor %}
                {% paginate %}
            </div>
        </div>
    {% else %}

    <header class="jumbotron subhead" id="overview">
    <h1>{{ author.username }}&rsquo;s <span class="normal">Day Z Log</span> <small>No entries yet.</small></h1>
    </header>
          
    {% endif %}      

{% block extrabody %}
    {# disqus comment count #}
    <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'dayzlog'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
    </script>
{% endblock extrabody %}
{% endblock body %}

