{% extends "blog/blog_base.html" %}

{# {% block head_title %}{{ post.author.username }}'s Day Z Log{% endblock %} #}

{% block head_title %}
    {{ user.username }}'s Day Z Log
{% endblock %}

{# {% block extra_head %} #}
    {# {{ block.super }} #}
    {# =todo: feed format is breaking jquery and drop-down menus - =fixme #}
    {# <link rel="alternate" type="application/atom+xml" title="Log post feed for user {{ name }}" href="/feeds/posts/only/?username={{ current_user.username }}" /> #}
{# {% endblock %} #}

{% block body_id %}log{% endblock %}

{% block body %}

{% load pagination_tags %}
{% autopaginate post_list 10 %}                    

    {% if post_list %}
        <header class="jumbotron subhead pull-right">

            <h1>
                {% if author.get_profile.name %}{{ author.get_profile.name }}{% else %}{{author.username}}{% endif %}&rsquo;s <span class="normal">Day Z Log</span>
            </h1>
            <p><a href="/profiles/{{author.username}}" title="See profile.">See profile</a></p>
              


            {# http://django-relationships.readthedocs.org/en/latest/getting_started.html #}
            {% load relationship_tags %}         
            {% if user.is_authenticated %}
            {% ifequal request.user author.get_profile.user %}

                {% else %}

                {# decide whether or not the current user is following this user #}
                {% if_relationship request.user author.get_profile.user "following" %}
                    {# they are following them, so show a "remove" url #}
                    <a class="btn btn-smaller" href="{{ author.get_profile.user|remove_relationship_url:"following" }}">Unfollow</a>
                {% else %}
                    {# they are not following them, so show a link to start following #}
                    <a class="btn btn-smaller" href="{{ author.get_profile.user|add_relationship_url:"following" }}">Follow</a>
                {% endif_relationship %}

            {% endifequal %}
            {% endif %}

        </header>

        <div class="row">
            <div class="span8">
            {% for post in post_list %}
            
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}" title="Permanent link to this entry.">{{ post.title }}</h2>
                    <p><a href="{{ post.get_absolute_url }}" title="Permanent link to this entry.">{{ post.updated_at|date:"D, d M Y, H:i" }}</a></p>

                    {# {{ post.content_html|safe|truncatewords_html:"30" }} #}
                    {{ post.content_html|safe }}

                </div>

            {% endfor %}
                {% paginate %}
            </div>
        </div>
    {% else %}

    <header class="jumbotron subhead" id="overview">
    <h1>{{ author.username }}&rsquo;s <span class="normal">Day Z Log</span> <small>No entries yet.</small></h1>
    </header>
          
    {% endif %}      
{% endblock %}
