{% extends "blog/base.html" %}
{% load i18n %}

{# {% block head_title %}{{ post.author.username|capfirst }}'s Day Z Log{% endblock %} #}

{% block head_title %}
    {% blocktrans with current_user.get_profile.display_name as name %}{{ name }}'s blog{% endblocktrans %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {# =todo: feed format is breaking jquery and drop-down menus - =fixme #}
    <link rel="alternate" type="application/atom+xml" title="Blog post feed for user {{ name }}" href="/feeds/posts/only/?username={{ current_user.username }}" />
{% endblock %}

{% block body %}

    {# {% if post_list %} #}
    {#     {% load blog_tags %} #}
    {#     <p>{{ post.author.username|capfirst }}</p> #}
    {#     {% include "blog/post_iterator.html" %} #}
    {# {% else %} #}
    {#     <p>No posts yet.</p> #}
    {# {% endif %} #}

    {% if post_list %} {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}

    <p class="breadcrumb">
        <a href="/">Home</a> / <a href="/logs/">Logs</a> / {{ author.username|capfirst }}
    </p>
        
        <h1>{{ author.username|capfirst }}&rsquo;s <span class="normal">Day Z Log</span></h1>
    
          {% for post in post_list %}
              <div class="row-fluid">
                  <div class="span6">
                      <h2><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                      <p><strong>By <a href="/logs/{{ post.author.username }}/">{{post.author.username|capfirst}}</a></strong> <span class="small quiet">(<a class="quiet" href="/profiles/{{ post.author.username }}" title="See {{ post.author.username|capfirst }}&rsquo;s profile.">see profile</a>)</span> <a href="{{ post.get_absolute_url }}" class="post_link" title="Permanent link to this entry.">{{ post.updated_at|date:"D, d M Y, H:i" }}</a></p>
                      <p>{{ post.body|truncatewords:"30" }} <a href="{{ post.get_absolute_url }}">Continue Reading &raquo;</a></p>
                  </div>
              </div>
          {% empty %}
              <div class="entry">
                  <p>Sorry, no entries found.</p>
              </div>
          {% endfor %}
          
          {% else %}
          <h1>{{ author.username|capfirst }}&rsquo;s <span class="normal">Day Z Log</span></h1>
          <p>No entries yet.</p>
      {% endif %}
      
{% endblock %}
