{% extends 'base.html' %}
{% block headtitle %}Deleting &lsquo;{{ note.title }}&rsquo; - {% endblock %}

{% block breadcrumb %} &rarr; Delete &lsquo;{{ note.title }}&rsquo;?{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure want to <strong class="warning">delete</strong> the note titled "<em>{{ note.title }}</em>"?</p>

        {# <p><input type="submit" value="Yes, Delete" /> or <a href="{% url notes_detail note.id %}">Cancel</a></p> #}

        {# Cancel goes back to first of: previous page (http_referrer), etc - http://stackoverflow.com/a/4406484/412329 #}
        {# <p><input type="submit" value="Yes, Delete" /> or <a href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">Cancel</a></p> #}
                {# But there is a problem: if the user edits a note and doesn't save, then decides to delete it, but changes her mind and clicks cancel, she loses her updates when she returns to the message update page! Better to implement in JavaScript? #}
        <p><input type="submit" value="Yes, Delete" /> or <a href="javascript:history.go(-1)">Cancel</a></p>

    </form>
{% endblock %}