{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if SITE_NAME %} - {{ SITE_NAME }}{% endif %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
             <link href="{% static "css/dayzlog.css" %}" rel="stylesheet">
            
            {% block extra_style %}{% endblock %}
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block topbar_base %}
            <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            {# <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> #}
                            {#     <span class="icon-bar"></span> #}
                            {#     <span class="icon-bar"></span> #}
                            {#     <span class="icon-bar"></span> #}
                            {# </a> #}
                            {% block site_brand %}<a class="brand" href="{% url "home" %}" title="Day Z Log homepage."><img src="{% static "img/dayzmod-small.png" %}" alt="Day Z"><i style="font-size:0.9em; vertical-align:bottom;">LOG</i></a>{% endblock %}
                            <div class="nav-collapse">
                                {% block nav %}
                                        {% load blog_tags %}
                                        <ul class="nav">
                                            <li{% active request "^/$" %}><a href="/" title="Most Popular Entries - the Day Z Log Homepage">Hot</a></li>
                                            <li{% active request "^/new/$" %}><a href="/new/" title="Latest Entries">New</a></li>
                                            {# <li><a href="/logs/">Latest Log Entries, All Users</a></li> #}
                                            {# <li{% active request "^/profiles/$" %}><a href="/profiles/">Profiles</a></li> #}
                                            {# <li><a href="/logs/new/">Write</a></li> #}
                                        </ul>
                                {% endblock %}
                                {% block account_bar %}
                                    {% include "_account_bar.html" %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {# {% block body_base %} #}
            <div class="container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
                {% block banner %}
                {% endblock %}
            </div>
        {# {% endblock %} #}

            <div id="footer">
                <div class="inner">
                    <div class="container">
                        {% block footer %}
                        <p class="small quiet">Log Entries are Copyright © by their Authors. 
                            <br>
                            Thank you for visiting <a class="quiet" href="/">dayzlog.com</a>
                            <br>
                            Beans are good for you.
                        {# Day Z logo © Copyright by the <a href="http://dayzmod.com">DayZMod.com</a> crew. #}
                        </p> 
                        {% endblock %}
                    </div>
                </div>
            </div>

        {# {% include "includes/markdown_cheatsheet.html" %} #}

        {% block script_base %}
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
                
    </body>
</html>
