{% extends "base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load staticfiles %}
{% load url from future %}

{% block head_title %}{% trans "FAQ" %}{% endblock %}
{% block extra_head %}
	<style type="text/css">
		h3 {cursor:pointer; margin-top:1em;}
		.showhideanswers a {cursor:pointer;}
		h3.darkheadings a {color:#333;}
	</style>
	<noscript>
        <style type="text/css" media="screen">
            .showhideanswers {display:none;}
            h3 a {text-decoration:none;}
        </style>
    </noscript>
{% endblock extra_head %}

{% block body %}
<h1 class="normal">{% trans "Frequently Asked Questions" %}</h1>

<div class="row">

	<ul class="showhideanswers pull-right unstyled">
			<!-- this will be hidden when JavaScript is disabled -->
			<li><a class="showall">Show all answers</a></li>
			<li><a class="hideall">Hide all answers</a></li>
		</ul>

	<div class="span8">
	    
		<h3 id="dayz">
			<a href="#dayz" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">Day Z?</a>
		</h3>
		<div class="answer">
			<p><a href="http://www.dayzmod.com">Day Z</a> is a modification (mod) of a men-with-guns simulation called <a href="http://www.arma2.com">Arma 2</a>. It is arguably the game that the relatively tedious Arma 2 simulation was missing. Arma 2 provides large maps with forests and urban areas, accurate ballistic physics, good open-area sound simulation, day, night and weather cycles, and many, thankfully virtual, guns. Day Z provides survival gameplay (hide, scavenge, hunt), flares, chemlights, axes, firewood, beans, multiple human-controlled players and a computer-controlled, thankfully virtual, zombie horde. The wild popularity of Day Z means that a <a href="http://dayzgame.com">standalone game is being developed</a>.</p>

			<p>To play Day Z (Windows-only, unfortunately) you currently need:</p>

			<ol>
				<li>A copy of the imaginatively-named <a href="http://store.steampowered.com/agecheck/sub/4639">Arma 2: Combined Ops</a>.</li>
				<li><a href="http://dayzmod.com/?Download">The Day Z mod</a>. There are <a href="http://www.dayzwiki.com/wiki/How_to_install_DayZ">installation instructions at Day Z Wiki</a>.</li>
			</ol>
		</div>

		<h3 id="dayzlog">
			<a href="#dayzlog" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">Day Z Log?</a>
		</h3>
		<div class="answer">
			<p>dayzlog.com is a website for people who have experienced Day Z&rsquo;s human-zombie apocalypse — also known as &lsquo;survivors&rsquo; — to share their stories on the web and in-game. After <a href="/account/signup/">signing up for an account</a>, survivors can:</p> 

			<ol>
				<li>Write log entries</li>
				<li><a href="/faq/#profileingame">Display profile information on the player roster in-game</a>. Survivors do this by editing their profile on dayzlog.com and <a href="#profileingame">pasting a generated URL to their in-game Day Z settings</a></li>
				<li>Follow other survivor&rsquo;s logs&rsquo; and vote on their entries. The homepage shows the top 30</li>
			</ol>
		</div>

		<h3 id="profileingame">
			<a href="#profileingame" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">How do I display my dayzlog.com profile information in-game?</a>
		</h3>
		<div class="answer">
			<ol>
				<li><a href="/account/signup/">Sign up for an account</a></li>
				<li>{% if user.is_authenticated %}<a href="/profiles/edit/{{user.username}}">Edit your profile</a>{% else %}Edit your profile{% endif %}, making sure to add your in-game <a href="#playername">player name</a> and <a href="#playerid">player id</a> (see below)</li>
				<li>Insert the generated URL found in {% if user.is_authenticated %}<a href="/profiles/{{user.username}}">your dayzlog.com profile page</a>{% else %}your dayzlog.com profile page{% endif %} 

				{% comment %}
				{% if user.is_authenticated %}
					— yours is <strong>http://{{SITE_NAME}}/profiles/{{user.username|lower|slugify}}/squad.xml</strong> —
					{% else %}
				{% endif %}
				{% endcomment %}

					 into your in-game Day Z settings by doing the following:
					<ol>
						<li>Start Day Z, go to the main menu and click on <b>&lsquo;Player profile&rsquo;</b></li>
						<li>Select your player profile name and click <b>&lsquo;Edit&rsquo;</b></li>
						<li>Add your URL to the <b>&lsquo;Squad URL:&rsquo;</b> field and click <b>&lsquo;Okay&rsquo;</b></li>
					</ol>	
				</li>
			</ol>

			<p>Your profile information will now be visible in-game by pressing <kbd>&lsquo;p&rsquo;</kbd> to open the player roster and clicking on your player name:</p>


INSERT IMAGE HERE

		</div>

		<h3 id="playername">
			<a href="#playername" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">My Day Z in-game player name: how do I find it?</a>
		</h3>
		<div class="answer">
			<ol>
				<li>Start Day Z, go to the main menu and click on <b>&lsquo;Player profile&rsquo;</b></li>
				<li>Your player profile name is listed here. Write it down. If you want to change it, select your player profile name and click <b>&lsquo;Edit&rsquo;</b></li>
				<li>Write your desired player name in the <b>Player name</b> field and click <b>&lsquo;Okay&rsquo;</b>. <b>Remember to {% if user.is_authenticated %}<a href="/profiles/edit/{{user.username}}">update your profile</a>{% else %}update your profile{% endif %} with this exact player name in order to correctly display your profile information within Day Z.</b></li>
			</ol>
		</div>

		<h3 id="playerid">
	    	<a href="#playerid" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">My Day Z in-game player id: how do I find it?</a>
	   	</h3>
		<div class="answer">
			<ol>
				<li>Start Day Z, go to the main menu and click on <b>&lsquo;Player profile&rsquo;</b></li>
				<li>Select your player profile name and click <b>&lsquo;Edit&rsquo;</b></li>
				<li>Write down the number displayed in the <b>Player ID</b> field. <b>Remember to {% if user.is_authenticated %}<a href="/profiles/edit/{{user.username}}">update your profile</a>{% else %}update your DayZLog.com profile{% endif %} with this exact player id in order to correctly display your profile information within Day Z.</b></li>
			</ol>
		</div>

		<h3 id="images">
	    	<a href="#images" title="Click this link and copy the URL from the web browser address bar for a direct link to this particular FAQ.">How do I insert an image in a Log entry?</a>
	   	</h3>
		<div class="answer">
			<ol>
				<li>Upload your image to <a href="http://imgur.com">imgur.com</a> or another image hosting service</li>
				<li>Use the following <a data-toggle="modal" href="#markdownhelp">Markdown syntax</a> to insert the image into your post:</li>
			</ol>

<pre>![My photo description](http://i.imgur.com/j7QY7.jpg)</pre>
		</div>

		

 	</div>
 </div>

 {% include "includes/markdown_cheatsheet.html" %}

{% endblock %}

{% block extra_body %}
	<script src="{% static "js/fafaq.js" %}"></script>
{% endblock %}