{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Home{% endblock %}

{% block banner %}
<div class="hero-unit">
<div class="row">
    <div class="span8">
    {% if user.is_authenticated %}
        <h1>{{ user|capfirst }}&rsquo;s <span class="normal">Day Z Log</span></h1>
        <p><a href="/logs/mylog/">Log dashboard</a> | <a href="/logs/{{user.username}}">Log main page</a></p>
        {% load url from future %}
        <p>
            <a href="/logs/new/" class="btn btn-primary"><i class="icon-pencil"></i> Write a new entry</a> or
            <a href="{% url "profile_detail" user.username %}" class="btn"><i class="icon-user"></i> edit your profile</a> to generate a URL you can add to your Day Z in-game profile.
        </p>
    {% else %}
        <h1>Day Z Log</h1>
        <h2>Share your <a href="http://dayzmod.com">Day Z</a> stories on the web.</h2>        
        <ol>
            <li>Write your stories using <a data-toggle="modal" href="#markdownhelp">Markdown</a> format.</li>
            <li>Generate a <a href="/help">squad.xml file and URL to add to your in-game profile</a> so other players can see who they&rsquo;re dealing with.</li>
            {# =todo: <li>Export all your stories in XML or JSON format at any time.</li> #}
        </ol>
        {% url acct_login as login_url %}
        {% load ifsetting_tag %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            <p><a href="/account/login/" class="btn">Log In</a> or <a href="/account/signup/" class="btn btn-primary">Sign Up</a></p>
            {% else %}
            <p><a href="/account/login/" class="btn">Log In</a></p>
        {% endifsetting %}
    {% endif %}
    </div>
</div>
</div>


{% if user.is_authenticated %}
{# =todo: if user is logged-in show only his latest posts here. #}
{# possible to make custom view with filter by author? #}
{# {% include "blog/user_post_list.html" %} #}


{% else %}
    {% if latest %} 
    {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
        {# =todo: http://code.google.com/p/django-voting/wiki/RedditStyleVoting #}
        {# http://www.justinlilly.com/python/django_voting.html #}
        <p class="lead">Latest Entries | <a title="todo" href="/popular/">Most Popular Entries</a></p>  
        <div class="row">
            {% for post in latest %}
                    <div class="span4">
                        <h2 class="post-title"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                        <p><strong>By <a href="/logs/{{ post.author.username }}/">{{post.author.username|capfirst}}</a></strong> <span class="small quiet">(<a class="quiet" href="/profiles/{{ post.author.username }}" title="See {{ post.author.username|capfirst }}&rsquo;s profile.">see profile</a>)</span> <a href="{{ post.get_absolute_url }}" class="post_link" title="Permanent link to this entry.">{{ post.updated_at|date:"D, d M Y, H:i" }}</a></p>
                        <p>{{ post.content_html|safe|truncatewords_html:"30" }} <a href="{{ post.get_absolute_url }}">Read &raquo;</a></p>                    
                    </div>
            {% empty %}
                <div class="entry">
                    <p>Sorry, no posts found.</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
