{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% blocktrans with current_user.get_profile.name as name %}{{ name }}'s Day Z Log{% endblocktrans %}
{% endblock %}

{% block body_id %}log{% endblock %}

{% block body %}
{% if post_list %}

{# http://django-relationships.readthedocs.org/en/latest/getting_started.html #}
{% load relationship_tags %}         

{% if user.is_authenticated %}
    {% if_following %}

              

    <h3>Entries by players you are following</h3>
    {% for post in post_list|following_content:request.user %}
        <h2 class="nomp">
            <a href="{{ post.get_absolute_url }}#disqus_thread" title="{{ post.title }}">{{ post.title|capfirst }}</a>
        </h2> 
        <div class="meta small">
            <span class="author">
                By  <a href="/logs/{{ post.author.username }}/">
                       {# http://stackoverflow.com/a/9667189/412329 #}
                       {% if post.author.get_profile.name %}
                           {{ post.author.get_profile.name }}
                           {% else %}
                           {{post.author.username}}
                       {% endif %} 
                    </a></strong> <span class="small quiet">(<a class="quiet" href="/profiles/{{ post.author.username }}" title="See profile.">see profile</a>)</span>
            </span>
            <span class="time">
                {{ post.updated_at|timesince }} ago
            </span>
        </div>
    {% endfor %}

    {% else %}
    You are not following anyone.
    {% endif_following %}
{% endif %}

          
{% endif %}      
{% endblock %}
