{% extends "idios/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "All Profiles" %}{% endblock %}

{% block body %}

{# <p class="breadcrumb"> #}
{#     <a href="/">Home</a> / Profiles #}
{# </p> #}

    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "All Profiles" %}</h1>
        <p class="lead">{% trans "Day Z player profiles on DayZLog.com" %}</p>
    </header>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <td>Day Z Profile Name</td>
            <td>Day Z Log URL</b></td>
        </tr>
        </thead>
        <tbody>
    {% autopaginate profiles %}
    
    {% for profile in profiles %}
        {% include "profiles/_profile_item.html" %}
    {% endfor %}
    
    {% paginate %}
        </tbody>
    </table>
{% endblock %}