{% extends "idios/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load url from future %}

{% block head_title %}{{ profile.name }} - Profile{% endblock %}

{% block body_id %}profile{% endblock %}

{% block body %}
{#     {% user_display page_user as page_user_display %} #}
{# <div class="hero-unit well"> #}
{#         <h1>{{ profile.name }}</h1> #}
{# </div> #}
    
    {% include "profiles/_profile_info.html" %}
    
    {% if is_me %}
        {# <p><a href="{% url "profile_edit" %}" class="btn">{% trans "Update my profile" %}</a></p> #}
        {# <p><a href="/up/edit/{{user}}" class="btn">{% trans "Update my profile" %}</a></p> #}
    {% endif %}
{% endblock %}
